:root{
    --companyBG:  #f8fff6;
    --companyOrange: linear-gradient(to top, #ff4400 ,  #fdc0c0 );
    --companyOrangeLight: linear-gradient(to top,#fdc0c0 , #ff4400 );
    --companyBlue: linear-gradient(to top, #006affdd ,  #d4ffa9 );
    --companyBlueLight: linear-gradient(to top, #d4ffa9 ,  #006aff );
}
*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.background{
    background-color: var(--companyBG);
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: opacity(60%) blur(0.7px); */
    
}

.menuBox{
    /* background-color: rgb(0, 255, 255); */
    height: calc(100dvh - 10px);
    width: calc(100dvw - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    overflow-y: hidden;
    justify-content: center;
    border-radius: 10px;
   
}
/* ///////////////////////////////////////////////////////////////////////////////// */

.navAtas{
    z-index: 2;
    /* background-color: aquamarine; */
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;

}

.menuAtas{
    
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-Right-radius: 10px;
    border-style: none solid solid ;
    border-width: 3;  
}
/* //////////////////////////////////////////////////////////////////////////////// */
.menuScreen{
    z-index: 1;
    height: 80%;
    
    /* background-color: rgb(210, 164, 109); */
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////// */
.navBawah{
    z-index: 2;
    /* background-color: aquamarine; */
    position: absolute;
    width: 100%;
    position: relative;
    /* top: calc(100% - 10%) ; */
    bottom: 0;
    height: 10%;
    display: flex;
    flex-direction: row;

    
}

.navBawah input[type="radio"]{
    display: none;
}

.navBawah label{
    flex:  1;
    height: 100%;
    border-style: solid solid none ;
    border-width: 3;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    transition: all 0.3s ease;
    text-align: center;
    font-weight:bolder;
    color: #fff;
    overflow: hidden;
    font-size: 30;
   
    
}

.navBawah input[type="radio"]:checked + label{
    flex: 2;
    transform: translateY(-8px);
    height: 150%;
    font-size: 40;
   
}


.kembalikan{
    background: var(--companyOrange) ;
    border-color: rgb(149, 0, 0);
    
}

.kembalikan:hover{
    background: var(--companyOrangeLight);
    border-color: rgb(149, 0, 0);
}


.ambil{
    background: var(--companyBlue) ;
    border-color: rgb(5, 5, 109);
    
}

.ambil:hover{
    background: var(--companyBlueLight);
    border-color: rgb(5, 5, 109);
}

